
.customerImage {
    /* The image used */
    background-image: url("AddCustomer.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .customerImage2 {
    /* The image used */
    background-image: url("customer1.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .customerImage3 {
    /* The image used */
    background-image: url("editCustomer.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .customerImage4 {
    /* The image used */
    background-image: url("compalint3.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .customerImage5 {
    /* The image used */
    background-image: url("customer6.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }


  .each-slidestock > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 900px;
  
    }
    
    .each-slidestock span {
      padding: 20px;
      font-size: 20px;
      background: #efefef;
      text-align: center;
    }
  
    